
<ul>
    <li><button  onClick="addUrlParameter('sorting', 'date')">Date</button></li>
    <li><button  onClick="addUrlParameter('sorting', 'likes')">Likes</button></li>
    <li><button  onClick="addUrlParameter('sorting', 'hates')">Hates</button></li>
</ul>


<% if (locals.movies?.length) {%>

    <% movies.forEach(movie=>{ %>
        <div class="table-item">
            <div class= "item-header">
                <div class = "item-title"><%=movie.title%></div>
                <div>Posted by: <a class="btn-inline" href="/<%=movie.username %>/posts" ><%=movie.username%></a> in <div><%=movie.createdDate%></div></div>
            </div>
            <div><%=movie.description%></div>
            <div class = "item-footer">
                <button class="btn-rate btn-rate-like"><em class="fa fa-thumbs-up btn-rate"></em></button>
                <div><%=movie.countOfLikes%></div> | <div><%=movie.countOfHates%></div>
                <button class="btn-rate btn-rate-hate"><em class="fa fa-thumbs-down"></em></button> 
            </div>
        </div>

    <%})%>
<%}%>


<script>
    function addUrlParameter(name, value) {
        var searchParams = new URLSearchParams(window.location.search)
        searchParams.set(name, value)
        window.location.search = searchParams.toString()
    }
</script>